.join-classroom-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
  background-color: #f5f5f5;
}

.join-classroom-container {
  max-width: 550px;
  margin: 4rem auto;
  padding: 2rem;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.code-input {
  width: 95%;
  padding: 0.75rem;
  font-size: 1rem;
  margin-top: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.join-button {
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  background-color: var(--accent-color);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.join-message {
  margin-top: 1rem;
  color: red;
}
