.invite-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.invite-section {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    width: 40vw;
    overflow-y: auto;
    max-height: 80vh;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.close-button {
    margin-top: 1rem;
    background: #dc3545;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.close-button:hover {
    transform: scale(1.10);
    background-color: gray;
}

.invite-input {
    width: 95%;
    padding: 0.5rem;
    margin: 0.5rem 0.1rem;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.invite-results {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin-bottom: 1rem;
}

.student-card {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    background: #f9f9f9;
    padding: 0.5rem;
    border-radius: 6px;
}

.student-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.invite-code {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.1rem;
    font-weight: bold;
}

.loading-spinner {
    margin: 1rem auto;
    width: 40px;
    height: 40px;
    border: 4px solid #ccc;
    border-top: 4px solid var(--accent-color);
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
}

@keyframes spin {
    to {
        transform:  rotate(360deg);
    }
}

.custom-button {
    border: none;
    border-radius: 4px;
    background-color: var(--accent-color);
    color: #ccc;
    font-size: 0.9rem;
    padding: 0.3rem 0.3rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.custom-button:hover {
    transform: scale(1.10);
    background-color: gray;
}