.container {
    position: 'relative';
    z-index: 1;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: 'center';
    padding: 0;
    width: 100%;
    font-family: Arial, sans-serif;
    height: 94.62svh;
    overflow: hidden;
    box-sizing: border-box;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/public/classroom.jpg");
    background-size: cover;
    background-position: center;
    filter: blur(8px);
    z-index: -2;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 0;
}

.title {
    font-size: clamp(1rem, 3.5vw, 2.5rem);
    margin-bottom: 1rem;
    color: #000100;
    z-index: 1;
}

.buttonGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
    margin-top: 0.5rem;
    z-index: 1;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 1rem;
}

.button {
    padding: 0.75rem 1.5rem;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 5px;
    min-width: 40svw;
    text-align: center;
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.button:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
}

.teacher {
    background-color: #ff0000ff;
    color: #fff;
}

.student {
    background-color: #007bff;
    color: #fff;
}